body {
	background-image: linear-gradient(to right, #f2a7d2, #f2e2a7); 
	font-family: Garamond, serif;
}

hr {
	margin-bottom: 30px;
}

h1, h2 {
	padding: 5px;
	color: darkblue;
	text-align: center;
}

img {
	border: 5px outset hotpink;
	display: block;
}

p {
	width: 500px;
}

th {
	background-color: lightblue;
	padding: 10px;
	font-size: 20px;
}

td {
	padding: 10px;
}

tr {
	padding: 10px;
}

tr:hover {
	background-color: #ffdbe8;
}

table {
	border: 1px solid black;
}

.main {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


